body {
  margin: 0;
  background-color: white;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

#logo {
  max-width: 15%;
  margin: 5vw;
}

#hogwarts {
  font-size: 5em;

  text-align: center;
  margin: 0;
}
h2 {
  text-align: center;

  margin: 0;
}

.filter-knap {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.filter-knap:hover,
.filter-knap:focus {
  background-color: #2980b9;
}

.dropdown-filter {
  position: relative;
  display: inline-block;
  margin: 2vw;
}

.filterKnapper {
  display: none;
  position: absolute;
  background-color: #3498db;
  max-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.sorter-knap {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.sorter-knap:hover,
.sorter-knap:focus {
  background-color: #2980b9;
}

.dropdown-sort {
  position: relative;
  display: inline-block;
}

.sortKnapper {
  display: none;
  position: absolute;
  background-color: #3498db;
  max-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.showButton {
  display: block;
}

button {
  border-radius: 0%;
  border: solid 1px #2980b9;
  background-color: #3498db;
  width: 100%;
  color: white;
}

button:hover {
  background-color: #2980b9;
  cursor: pointer;
  color: white;
}

.luk {
  border-radius: 0%;
  border: solid 1px #2980b9;
  background-color: #3498db;
  width: 30px;
  height: 30px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1em;
}

.list-article {
  text-align: center;
  margin-top: 2em;
}

.data-navn {
  cursor: pointer;
}

.data-house {
  font-style: italic;
}

.gryffindor {
  background-color: #ce3a0a;
  color: #fdb02e;
}

.hufflepuff {
  background-color: #ffc02a;
  color: #0b0000;
}

.ravenclaw {
  background-color: #395f9d;
  color: #e9ba36;
}

.slytherin {
  background-color: #588c39;
  color: #c0b1c6;
}

#modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  /*display: none;*/
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}

#modal.vis {
  /*display: block;*/
  opacity: 1;
  pointer-events: all;
  transition: 0.5s;
}

#modal-content {
  width: 50vw;
  height: 70vw;
  /* background-color: rgba(250, 250, 250, 1); */
  margin: auto;
  overflow: scroll;
}

/*IPAD*/

@media screen and (min-width: 767px) {

  #modal-content {
    width: 50vw;
    height: 50vw;
  }
  #logo {
    max-width: 10%;
    margin: 2vw;
  }

  .sorter-knap {
    padding: 15px;
    font-size: 15px;
  }
  .filter-knap {
    padding: 15px;
    font-size: 15px;
  }

  button {
    border-radius: 0%;
    border: solid 1px #2980b9;
    height: 40px;
    font-size: 12px;
  }
  .luk {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
  }

  .list-article {
    column-count: 2;
  }
}

/*COMPUTER */

@media screen and (min-width: 1150px) {

  }
  #modal-content {
    width: 40vw;
    height: 30vw;
  }
  #logo {
    max-width: 5%;
    margin: 1vw;
  }
}
